body {
    background-color: $bg_color !important;
    color: $font_color !important;
}

a {
    color: $a_color !important;
}

a:visited {
    color: $a_color_visited !important;
}

a:active {
    color: $a_color_active !important;
}

.tr {
    color: $tr_color !important;
}

.pos {
    color: $pos_color !important;
}

.co {
    color: $co_color !important;
}
